:root {
  --light-purple-co: #5e3864;
  --dark-purple-co: #36103c;
  --dark-reddish-co: #672a4a;
  --light-reddish-co: #974457;
  --yellow-co: #dfe67a;
  --green-co: #0e6c50;
  --light-brown-co: #65390e;
  --dark-brown-co: #421d07;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fdffee;
}
ul {
  margin: 0;
  list-style: none;
}
/**************header*************/
.top-header {
  background: var(--dark-reddish-co);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 2rem;
}
.logo {
  border: 2px solid var(--light-reddish-co);
  padding: 0.4rem;
  background: var(--green-co);
  color: var(--yellow-co);
  position: relative;
}
.logo .material-icons {
  position: absolute;
  top: 15%;
  right: -15%;
}
.icons {
  color: var(--yellow-co);
}
.cart,
.login {
  display: inline-block;
  border: 2px solid var(--light-reddish-co);
  border-radius: 20%;
  margin-left: 1rem;
}
.cart:hover,
.login:hover {
  background: var(--yellow-co);
  color: var(--green-co);

  cursor: pointer;
}

.nav {
  background: var(--yellow-co);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.nav a {
  text-decoration: none;
}
.nav-item {
  border-bottom: 2px solid var(--yellow-co);
}
.nav-item:hover {
  border-bottom: 2px solid black;
}
.nav-item:active {
  border-bottom: 2px solid black;
}
/**************end header*************/

/**************dish-item************/

.dish-item {
  background: white;
  border-radius: 0.3rem;
}
.dish-item:hover {
  box-shadow: 3px 4px 3px #bababa;
  cursor: pointer;
}

.dish-item img {
  width: 100%;
}
/**************end dish-item************/

/***********pizzas section************/
#pizzas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
#pizzas h2 {
  grid-column: 1/-1;
  text-align: center;
}

.pizza-item--buyBtns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.pizza-item--dish-prise-btn > * {
  display: block;
  width: 4rem;
  text-align: center;
}
.pizza-item--dish-prise-btn > :first-child {
  background-color: var(--green-co);
  color: var(--yellow-co);
  line-height: 2rem; /*not height*/
  border-radius: 3px;
}
.pizza-item--dish-prise-btn > * + * {
  margin-top: 0.5rem;
}
.pizza-item--dish-prise-btn > :first-child:hover {
  color: white;
}

.stack-w-md > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
/***********end pizzas section************/
